<article class="post-card">
  <h2 class="post-card-title"><a href="{{url}}">{{title}}</a></h2>
  {{#if html}}
    <div class="post-card-content">{{{html}}}</div>
  {{/if}}
  <div class="post-card-meta">
    <span class="date">{{date format="YYYY-MM-DD"}}</span>
    {{#if tags}}
      <span class="sep">•</span>
      <ul class="tag-list inline">
        {{#foreach tags visibility="public"}}
          <li><a href="{{url}}">#{{name}}</a></li>
        {{/foreach}}
      </ul>
    {{/if}}
  </div>
</article>
